


.hr-block{
	@include col(1/3);
	min-height: 250px;

	background:#f8f8f8;
	@include box-shadow(0px 5px 5px 0 rgba(0,0,0,0.3));
	@include transition(1s);

	&:hover{
		@include box-shadow(0px 5px 5px 0 rgba(144,118,188,0.9));

			.hr-header .hr-left{
				background: $blue;
			}
	}


	@include respond(mobile){
		@include col(3/3);
	}


	.hr-header{
		width: 100%;
		background:#eeeded;
		height: 50px;
		

		.hr-left{
			width: 75px;
			height: 50px;
			position: relative;
			float: left;
			background: $themecolour;
			@include transition(1s);

			img{
				@include align(both);
			}
		}
		.headtext{
			color: $blue;
			padding: 13px 0 0 15px;
			font-size: 18px;
			font-weight: bold;
			font-family: $fonttr;
			float: left;
		}

	}

	.hr-body{
		padding: 15px;
		li{
			padding: 5px 0 5px 30px;
			background: url("#{$imagePath}/bullat.png") no-repeat 1px 6px;
			a{
				display: block;
				text-decoration: none;
				color: #333;
				font-size: 14px;

				@include transition(0.5s);
				&:hover{
					color:$blue;
				}

			}
		}
	}

}

.filter-wrap {
    padding: 10px 0
}

.filter-wrap .filter {
    float: right
}

.filter-wrap label {
    font-size: 16px;
    font-weight: bold;
    color: #333
}

.filter-wrap select {
    font-size: 15px;
    color: #333;
    width: 250px;
    padding: 10px
}
