$font: Arial, Helvetica, sans-serif;
$fontra:'Raleway', sans-serif;
$fonttr:'Trebuchet MS',Helvetica,Arial,sans-serif;
$fontju: 'Satisfy', cursive;
$fontJa: 'jaapokkiregular';
$baseFontSize:10;
$s: 11px;
$n: 13px;
$l: 16px;
$xl: 19px;
$xxl: 24px;
$xxxl: 48px;
$tab: 760px;
$desk: 992px;
$themecolour: #fff200;
$container: 1024px;
$white: #fff;
$blue: #0e76bc;
$ash: #ddd;
$orange:#f77b27;
$green:#00a93e;
$dgreen:#038834;
$red: #a83538;
$textash:#8a807c;
$textgold:#a07c1f;
ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}
